.container {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.navbar-header {
    float: left;
    text-align: left;
    width: 100%;
    min-height: 19rem;
    background-color: #f0f0f0;
}

.navbar-brand {
  float:none!important;
  display: block;
  text-align: center;
  clear: both;
}

.navbar-right {
  padding: 10px 25px 0 0;
}

.brand-head {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

h4 {
  font-size: 1rem;
  /*letter-spacing: 0.1rem;*/
}

h2 {
  font-size: 2.25rem;
  letter-spacing: 0.02rem;
}

.h-title {
  text-align: center;
  margin: 0 0 4.5em 0;
}

.h-title h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.h-underline {
  margin: 0 auto;
  display: block;
  width: 48px;
  height: 3px;
  padding-top: 0.5em;
  border-bottom: 3px solid #333;
}

.center-block {
  text-align:center;
  padding-top: 10px;
}

.navbar-default .navbar-brand, a {
  color: #333!important;
}

a:hover {
  text-decoration: none!important;
  color: #a9a9a9;
}

.devise-btn, .devise-btn-lrg, .devise-btn-ex-lrg {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor:pointer;
  background-color:transparent;
  border:3px solid #333;
  letter-spacing: 0.1rem;
}

.devise-btn {
  width:100px;
  margin: 0 0 0 10px;
}

.devise-btn-lrg, .devise-btn-ex-lrg {
  width:150px;
  text-transform: uppercase;
  padding:10px 0;
}

.devise-btn-lrg {
  width:150px;
}

.devise-btn-ex-lrg {
  width:365px;
}

.devise-btn a, .devise-btn-lrg a, .devise-btn-ex-lrg a {
  color:#333;
  text-decoration:none;
  display:block;
  padding:12px 0;
}

.devise-btn a:hover {
  color: #a9a9a9;
}

/* FORM STYLING */
.field input {
  font-size: 16px;
  padding: 18px;
  background-color: #f1f1f1;
  width: 100%;
  outline: 0;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 0.1rem;
  -webkit-border-radius: 0px;
}

.greybox {
  font-size: 16px;
  padding: 18px;
  background: #f1f1f1;
  margin-bottom: 15px;
}


.field_with_errors label {
   color: red;
 }

.alert {
  color: red
}

.devise-btn input {
  margin: 0em;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
}

.reset input {
  -webkit-appearance: none;
  padding: 1px;
  background-color: transparent;
  border: 0;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
}

.reset input[type=submit] {
  -webkit-appearance: none;
}

.shared-links {
  padding: 10px 0 0;
  text-transform: uppercase;
  font-weight: bold;
}

.shared-links :hover {
  color: #a9a9a9;
}
